/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 微軟正黑體, Arial, Verdana, sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

.navbar {
    padding: 1.1rem 1rem;
    box-shadow: 1px 1px 2px #cccccc;
}

a.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-light .navbar-brand.logo {
    color: #013A65;
}

li.nav-item a {
    color: #333;
}

.heroBanner {
    background: url(../images/index/banner.png) no-repeat center;
    height: 100vh;
    width: 100%;
}

.headerContainer {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headerContainer h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    line-height: 4rem;
}

/*-------------about樣式-------------*/
.about .container {
    padding: 50px 0;
}

.about h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 微軟正黑體, Arial, Verdana, sans-serif;
    line-height: 2rem;
    margin-bottom: 20px;
}

.about h1 span.tittle {
    color: #013A65;
}

.about .content {
    padding: 0px 0;
}

.about .content p {
    line-height: 1.6rem;
    margin-bottom: 30px;
    padding-right: 60px;
}

.about .content .more a {
    background: #ADD6F5;
    color: #013A65;
    padding: 12px 30px;
    text-decoration: none;
    float: right;
}

.about .content .more a:hover {
    background: #c3dff5;
}


/*-------------portfolio樣式-------------*/

.portfolio {
    text-align: center;
    background: #eee;
    padding: 32px 0;
}

.portfolio .nav-tabs {
    display: inline-block;
}

.portfolio li.nav-item {
    display: inline-block;
}


.portfolio .list .listImg {
    height: auto;
    margin: 50px 0 20px 0;
}

.portfolio .list .listImg img {
    /*    border-radius: 5px;*/
}

.portfolio h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

div#myTabContent {
    padding-bottom: 100px;
}

.tittle a {
    color: #333;
}

.tittle a:hover {
    text-decoration: none;
    color: #217fca;
}

.portfolio .list {
    position: relative;
}

.listDescription {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../images/portfolio/link.png) #1f6ba5 no-repeat center;
    opacity: 0;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
}

.portfolio .list:hover .listDescription {
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .about .content {
        padding: 0 30px;
    }

    .about .content .more a {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        float: none;
        display: block;
        padding: 15px 0;
    }

    .aboutImg {
        text-align: center;
    }

    .aboutImg img {
        width: 75%;
    }

}


/*-------------Footer樣式-------------*/
.footer {
    background: #013A65;
    color: #fff;
    text-align: right;
    padding: 17px 0;
    font-size: 12px;
}

@media screen and (max-width:767px) {
 .footer {
    margin-top: 0;
}
}


/*-------------內頁about樣式-------------*/

.heroBanner.about {
    background: url(../images/about/moldBanner.png) no-repeat top;
    height: 367px;
    width: 100%;
    margin-bottom: 100px;
}

.heroBanner.about .container {
    padding: 0;
}

.heroBanner.about .headerContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.experienceList ul {
    padding-left: 25px;
}

.experienceList li {
    list-style: url(../images/about/dot.png) no-repeat;
    font-size: 19px;
    line-height: 2.0rem;
    margin-bottom: 23px;
}

.experienceList li span.tittle,
span.desCom,
span.desDate {
    display: block;
}


.experienceList li span.desCom {
    font-size: 17px;
}


.experienceList li span.desDate {
    color: #666;
    font-size: 16px;
}

@media screen and (max-width:767px) {
    .experienceList {
        padding: 0 30px;
    }

    .about .aboutImg img {
        margin: 30px 0;
    }
}

/*-------------內頁portfolio樣式-------------*/

.heroBanner.portfolio {
    background: url(../images/about/moldBanner.png) no-repeat top;
    height: auto;
    width: 100%;
    padding: 0;
}

.heroBanner.portfolio .container {
    padding: 0;
}

.heroBanner.portfolio .headerContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.portfolio.mold {
    background: #fff;
    padding: 0;
}


.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.webcontent .owl-nav button.owl-prev {
    width: 50px;
    height: 50px;
    background: url(../images/portfolio/pre.png) no-repeat center;
    background-size: 50%;
    left: 0;
    position: absolute;
}

.webcontent .owl-nav button.owl-next {
    width: 50px;
    height: 50px;
    background: url(../images/portfolio/next.png) no-repeat center;
    background-size: 50%;
    right: 0;
    position: absolute;
}

.owl-dots {
    margin-top: 30px;
}

@media screen and (max-width:767px) {
    .heroBanner.about .headerContainer {
        height: 70vh;
    }
    .topContent {
    margin-top: 50px;
}
}

/*-------------網頁設計內頁樣式-------------*/
.webcontent {
    padding-bottom: 100px;
}

.topContent h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.topContent h1::before {
    content: "";
    display: block;
    width: 56px;
    height: 4px;
    background: #013A65;
    margin-bottom: 9px;
}

.topContent p {
    line-height: 1.8rem;
    margin-bottom: 20px;
}

.linkIn a {
    display: block;
    background: #013A65;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.linkIn a:hover {
    text-decoration: none;
    background: #034a80;
}

/*-------------Ui設計內頁樣式-------------*/

.imgWrapper {
    display: flex;
    justify-content: center;
}
